{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- nav bar -->
<div style="background-color: orange;" class="text-center">

  <h2 ><a style="color: white;font-size:50px;" href="/">Malas Noticias </a></h2>

</div>




<!-- body -->
<body class="d-flex flex-column min-vh-100" style="background-color: white; auto;">
  <div style="display: flex;justify-content: space-between;" class="text-center">
    <ul class="ul">
     <img src="https://c.tenor.com/C9d5kE2yjUsAAAAC/neco-arc-neco-rumba.gif" alt="neko dancing" style="height: 300px; width: 500px;">
    </ul>
    <h1><br>El Cupon fue usado por el dueño de la pagina<br> Pero almenos tenemos a nekor arc <br> No nos da descuento en comida <br> pero nos da algo mejor</h1>
    
    <ul class="ul">
      <img src="https://c.tenor.com/cQPrvHLjzG0AAAAd/neko-neco.gif" alt="neko dancing" style="height: 300px; width: 500px;">
    </ul>
</div>
<div style="display: flex;justify-content: space-between;" class="text-center">
  <ul class="ul">
   <img src="https://c.tenor.com/l-QKF5xcI9UAAAAC/neco-arc-supremacy.gif" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
  <ul class="ul">
    <img src="https://c.tenor.com/mMgbQnYuYksAAAAM/neco-arc-nodding.gif" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>

  <ul class="ul">
    <img src="https://ih1.redbubble.net/image.2945832792.1462/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
  <ul class="ul">
    <img src="https://i.ytimg.com/vi/J3ygBE7BUtA/maxresdefault.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
</div>


<div style="display: flex;justify-content: space-between;" class="text-center">
  <ul class="ul">
   <img src="https://pbs.twimg.com/media/FHKBgLwUcAU3ST4.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
  <ul class="ul">
    <img src="https://i.pinimg.com/550x/f5/ba/c0/f5bac0c7f406316a0a77458a56e6f6ad.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>

  <ul class="ul">
    <img src="https://c.tenor.com/MBZKaYXhB2gAAAAC/neco-arc-tsukihime.gif" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>

  <ul class="ul">
    <img src="https://img-9gag-fun.9cache.com/photo/aBnnOAO_460s.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
</div>

<div style="display: flex;justify-content: space-between;" class="text-center">
  <ul class="ul">
   <img src="https://pbs.twimg.com/media/E9nBEVVXMAA7xNx.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
  <ul class="ul">
    <img src="https://i.kym-cdn.com/photos/images/original/002/194/251/1bd.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>

  <ul class="ul">
    <img src="https://i.pinimg.com/736x/e2/0e/f1/e20ef177339e86e5441adee658117083.jpg" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
  <ul class="ul">
    <img src="https://64.media.tumblr.com/3002ed0fbd9703b76ba34f4ad77efb93/f90d5cab288f410a-14/s540x810/86504c6f2ab215a09550f8524c7e2282e37276d8.gifv" alt="neko dancing" style="height: 300px; width: 500px;">
  </ul>
</div>

</body> 





<!-- footer -->
<footer class="bg-light text-center text-lg-start mt-auto">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: lightgray;">
    © 2022 Neko Arc Fan BASE
  </div>

</footer>

<style>
  .container{
    width: 300px;

  }
  .ul{
    margin-left:0px;
    padding-left:0px;

  }



</style>